---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Slideshow from '../components/Slideshow.astro';

// icons
import SprayBottle from '../icons/spray_bottle.astro';
import CarFront from '../icons/car_front.astro';
import Tire from '../icons/tire.astro';
import Wiper from '../icons/wiper_indicator.astro';
import SteeringWheel from '../icons/steering_wheel.astro';

const company_name = import.meta.env.COMPANY_NAME;
const page_name = "HOME"
---


<Layout title={page_name}>
	<main>
    <Nav company_name={company_name}/>
    <h2>Detailing Service</h2>
    <div class="homepage-services">
      <ul>
        <li>- window tinting -</li>
        <li>- car polish -</li>
        <li>- paint correction -</li>
        <li>- full detail -</li>
      </ul>
    </div>
    <Slideshow />

    <div class="homepage-intro">
      <h3>Detailing service out of Raynham, MA</h3>
      <p class="homepage-paragraph">
        At {company_name}, we specialize in providing top-quality
        auto detailing services designed to restore your vehicle's appearance
        to its best. Our experienced team uses only premium products and meticulous 
        techniques to ensure every detail, from exterior paint to interior upholstery,
        is handled with care and precision. Whether you're looking to rejuvenate your car's
        shine or protect its finish, we are committed to delivering professional, reliable
        results that leave your vehicle looking immaculate. Trust us to treat your car like
        our own—experience the difference with our exceptional auto detailing services.
      </p>
    </div>

    <div class="icon-divider">
      <SprayBottle />
      <CarFront />
      <Tire />
      <Wiper />
      <SteeringWheel />
    </div>
	</main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    display: flex;
    justify-content: center;
    font-family: "Sixtyfour Convergence", sans-serif;
  }
  h3 {
    text-align: center;
    margin: 2rem 0 1.5rem 0;
    font-size: 1.3rem;
    font-family: "Spline Sans Mono", monospace;
  }
  .homepage-services {
    display: flex;
    justify-content: center;
    margin: 0.2rem 0 1.4rem 0;
  }
  .homepage-services ul {
    list-style: none;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  .homepage-services li {
    margin: 0 1rem;
    font-family: "Spline Sans Mono", monospace;
  }
  .homepage-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homepage-paragraph {
    text-align: center;
    max-width: 1000px;
    margin: 0 1rem;
  }
  .icon-divider {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 1.5rem 0;
  }
  .icon-divider svg {
    margin: 0 1rem;
  }
  @media (max-width: 900px) {
    .homepage-services {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 600px) {
    h2 {
      font-size: 1rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
</style>
