---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';

const company_name = import.meta.env.COMPANY_NAME;
const page_name = "SERVICES"
---

<Layout title={page_name}>
  <main>
    <Nav company_name={company_name} />
    <h2>{page_name}</h2>
  </main>
</Layout>
