---
import Layout from '../layouts/Layout.astro';

const company_name = "31 Auto Detailing";
const page_name = "SERVICES"
---

<Layout title={page_name}>
  <main>
    <h2>{page_name}</h2>
  </main>
</Layout>
